.alertBox {
  position: fixed;
  top: 20px;
  right: 38rem;
  display: flex;
  justify-content: center;
  background: #ff4d4d;
  color: white;
  padding: 14px 22px;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: 500;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 9999;

  opacity: 0;
  transform: translateY(-10px);
  animation: slideIn 0.25s ease-out forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
